.gymNameStyling {
  color: #dd022c;
  background-color: white;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

h2 {
  letter-spacing: 0.4rem;
  font-weight: bold;
  color: #dd022c;
}
