.calendarButtonStyling {
  border-radius: 100%;
  width: 38px;
  height: 38px;
  border: 1px solid #767676;
  line-height: 38px;
  color: #767676;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
}
