.clearButtonStyling {
  width: 300px;
  height: 60px;
  background-color: #dd022c;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  display: inline-block;
  line-height: 60px;
  margin: 10px;
}
