.inputBarStyle {
  text-align: center;
  color: DD022C;
  border-radius: 50px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: solid 2px #dd022c;
  width: 85%;
}

label {
  color: #dd022c;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.3rem;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dd022c;
  font-weight: bold;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dd022c;
  font-weight: bold;
}
