.headerBackgroundStyling {
  background: url(../../assets/images/friskis.png) no-repeat;
  object-fit: cover;
  height: 50vh;
  position: relative;
}

.headerH1Styling {
  color: red;
  text-align: center;
}
